
.history-scroll {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.history-flex {
  z-index: 3;
  position: relative;
}

.history-flex::before {
  width: 6px;
  height: 100%; /* Match the full height of the container */
  background: #d9d8ff;
  border-radius: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: -1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.history-status {
  font-weight: bolder;
  color: #4945ff;
}

.history-status.previous {
  font-weight: bolder;
  color: #ff4545;
}

.history-status.current {
  font-weight: bolder;
  color: #4bff45;
}
